syntax: glob
.htaccess
robots.txt
*.orig
*.pyc
*.db
.hg_archival.txt
assets/css/app.css
assets/js/app.js
assets/*
site_media/media
site_media/static
local_settings.py
.settings/*
.DS_Store
.sass-cache
.scss-cache
cache
node_modules
bower_components
vendor
error_log
logs
tmp
_temp
sucuri-*

# IDE files
*.iml
.idea
atlassian-ide-plugin.xml

# no archive files:
*.zip
*.tar
*.iso
*.gz
*.tgz
*.tar.Z
*.tar.bz2
*.tbz2
*.tar.lzma
*.tar.xz
*.txz
*.jar

# no media files!
*.pdf
*.log
*.mp4
*.mp3
*.webm
*.ogv
*.wmv
*.mov
*.avi
*.rm
*.mpg
*.mpeg
*.asf
*.bmp

# wordpress
wp-content
local-config.php
hagadone
wordpress
uploads
plugins
mu-plugins
wp-cache-config.php
advanced-cache.php
themes/*/lib/vendor
assets/css/app.min.css
assets/css/core.min.css
assets/js/app.min.js

# magento
var/session/
var/report/
