
.button {
    background: $color-primary-dark;
    width: 200px;
    height: 40px;
    text-align: center;
    &:focus,
    &:hover {
        background: darken($color-primary, 10%);

    }
    &.secondary {
        background: $color-gray;
        &:focus,
        &:hover {
            background: darken($color-gray, 10%);
        }
    }
    &.success {
        background: $color-success;
        color: #fff;
        &:focus,
        &:hover {
            background: darken($color-success, 10%);
            color: #fff;
        }
    }
}
