
.button {
    background: #fff;
    color: #000;
    border: black solid 3px;
    width: 200px;
    height: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:focus,
    &:hover {
        color: #f697a2;

    }
    &--skew {
      transform: skew(20deg);
    }
    &--inverseskew {
      transform: skew(-20deg);
    }
    &--secondary {
        background:$color-secondary;
        color: #000;
        &:focus,
        &:hover {
            background: darken($color-secondary-dark, 10%);
            color: #000;
        }
    }
    &.success {
        background: $color-success;
        color: #fff;
        &:focus,
        &:hover {
            background: darken($color-success, 10%);
            color: #fff;
        }
    }
}
