.card {
	box-sizing: border-box;
    padding: 2em;
    margin: 1em;
    flex: 1 1 300px;

	& img {
		background: $color-soft-white;
	    display: flex;
	    justify-content: center;
		width: 100%;
	}

    &--yellow {
        background: $color-secondary;
    }


    &--pink {
        background: $color-tertiary;
    }

    &--blue {
        background-color: $color-primary;
    }

}

p {
    display: flex;
    justify-content: center;
    margin: 1em;
}


h1 {
    display: flex;
    justify-content: center;
}

.cards-button {
    display: flex;
    justify-content: center;
}