.card {
	box-sizing: border-box;
    padding: 2em;
    margin: 1em;
    flex: 1 1 300px;
		max-width: 400px;
		text-align: center;

	& img {
	    display: flex;
	    justify-content: center;
		width: 100%;
	}

    &--yellow {
        background: $color-secondary;
        object-fit: fill;
    }


    &--pink {
        background: $color-tertiary;
    }

    &--blue {
        background-color: $color-primary;
    }

    & p {
        display: flex;
        justify-content: space-between;
        margin: 1em;
        }





}

.cards-button {
    display: flex;
    justify-content: center;
}


// .button {
//     background:$color-tertiary;
//     color: #000;
//     border: #000 solid 3px;
//     width: 200px;
//     height: 40px;
//     text-align: center;
//     &:focus,
//     &:hover {
//         color: #000;
//         background: $color-tertiary-dark;
//         // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//
//     }
//
//     &--ver2 {
//       &:hover {
//         color: #fff;
//     }
//   }
//
//
//     &--skew {
//       transform: skew(20deg, 0deg);
//     }
//     &--inverseskew {
//       transform: skew(-20deg, 0deg);
//     }
//
//     &--hoverskew {
//       &:hover {
//         transform: skew(20deg, 0deg);
//     }
//     }
//
//     &--hoverinverseskew {
//       &:hover {
//         transform: skew(-20deg, 0deg);
//     }
//     }
//
//     &--hoverstraight {
//       &:hover {
//         transform: skew(0deg, 0deg);
//
//     }
//     }
//
//     &__nocolor {
//       background: #fff;
//       &:focus,
//       &:hover {
//           color: #000;
//           background: $color-tertiary-dark;
//
//       }
//
//
//
//       }
//
//       &__nocolor--yellow {
//           &:hover {
//               background: $color-secondary-dark;
//
//           }
//
//           }
//
//           &__nocolor--blue {
//               &:hover {
//                   background: $color-primary-dark;
//
//               }
//
//               }
//
//               &__nocolor--green {
//                   &:hover {
//                       background: $color-success-dark;
//
//                   }
//
//                   }
//
//
//     &.success {
//         background: $color-success;
//         color: #fff;
//         &:focus,
//         &:hover {
//             background: darken($color-success, 10%);
//             color: #fff;
//         }
//     }
// }
