
h1 {
  display: none;
}

#mobile-menu {
  margin: 0;

}

.nav__mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;


&--logoandham {
  display: flex;
  align-items: center;
}

&--logo img {
  max-width: 80%;
}

&--hamburger {
color: #000;
padding-right: 50px;
}

&--dropdownlist-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 20%;
  font-size: 2em;
  color:#000;
  font-weight: bold;

}

&--dropdownlist-item:hover {
}

// &--shape {
//   background:$color-primary;
//   height: 30vh;
//   width: 150%;
//   margin-left: -71px;
//   transform:skew(79deg, -17deg);
//   transform:rotate(35deg);
// }

}
