
.demo-heading {
    margin: 0;
    font-weight: bold;
}
.demo-colors {
    margin-left: 0;
    li {
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        padding: 3px 5px;
        list-style-type: none;
        @include breakpoint(medium) {
            max-width: 80%;
        }
    }
}
.callout--demo {
    color: $color-gray;
    span {
        font-family: $font-monospace;
    }
}
.color {
    &-primary {
        background: $color-primary;
        &-light { background: $color-primary-light; }
        &-dark { background: $color-primary-dark; }
    }
    &-secondary {
        background: $color-secondary;
        &-light { background: $color-secondary-light; }
        &-dark { background: $color-secondary-dark; }
    }
    &-tertiary {
        background: $color-tertiary;
        &-light { background: $color-tertiary-light; }
        &-dark { background: $color-tertiary-dark; }
    }
    &-gray {
        background: $color-gray;
        &-light { background: $color-gray-light; }
        &-dark { background: $color-gray-dark; }
    }
    &-success {
        background: $color-success;
        &-light { background: $color-success-light; }
        &-dark { background: $color-success-dark; }
    }
    &-warning {
        background: $color-warning;
        &-light { background: $color-warning-light; }
        &-dark { background: $color-warning-dark; }
    }
    &-alert {
        background: $color-alert;
        &-light { background: $color-alert-light; }
        &-dark { background: $color-alert-dark; }
    }
}

.font {
    &-sans-serif {
        font-family: $font-sans-serif;
    }
    &-serif {
        font-family: $font-serif;
    }
    &-monospace {
        font-family: $font-monospace;
    }
}