 .mc-field-group.input-group ul li {
  display: inline;
}

.content__gdpr .marketing-header {
  text-align: center;
}

.content__gdpr .checkbox.subfield {
  display: inline;
  margin: 0 auto;
}

.content__gdprLegal a {
  text-align: left;
}
