.bg-stripes {
    background: url('./../src/img/branding/stripes.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

    & .card {
        border: none;
        background: none;
    
        }
    
    & .cards-button {
        margin: 2rem;
        }
    

     
    }
