.thank-you-body {
  margin: 0;
}

.subscription-thank-you {
  display: flex;
  justify-content: center;
  align-content: center;
}

.subscription-center {
  align-self: center;
}

.subscription-center h1 {
  font-size: 3em;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.btn-clear {
  display: flex;
  justify-content: center;
  align-content: center;
}
