.nav-desktop {
	display: none;

& ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 0;
}
}
@media only screen and (min-width: 960px) {

.nav-desktop {
  display: block;
  position   : sticky;
  background: $color-light;
  box-shadow : 5px 5px 5px #ccc;
  // text-align : center;
  font-size  : calc(1em + 1vw);
  transition : .5s all;
  padding: .5em 0 0.05em 0;

  &__item {
    display    : inline;
    list-style : none;
  }

  &__link {
    color           : $color-dark;
    text-decoration : none;
    font-weight     : 700;
    transition      : .5s color;
  }
}

.nav-link {
  display         : inline-block;
  position        : relative;
  padding         : 0 1em;
  color           : $color-dark;
  text-decoration : none;
  text-decoration : none;
  // text-transform  : uppercase;
  font-weight     : 700;
  letter-spacing  : 0.15em;
  transition      : .5s color;

  &:hover {
    color : $color-dark;
  }

  &:after {
    content    : "";
    display    : block;
    position   : absolute;
    bottom     : 0;
    left       : 0;
    width      : 0;
    height     : .25em;
    background : none repeat scroll 0 0 transparent;
    transition : width 0.3s ease 0s;
  }

  &--primary:after {
    background : $color-primary;
  }

  &--secondary:after {
    background : $color-secondary;
  }

  &--tertiary:after {
    background : $color-tertiary;
  }

  &:hover:after, &:active:after {
    left  : 0;
    width : 100%;
  }
}
}
