@font-face {
    font-family: 'roboto_slab';
    src: url('../font/roboto-slab/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../font/roboto-slab/robotoslab-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slab';
    src: url('../font/roboto-slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-slab/robotoslab-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slab';
    src: url('../font/roboto-slab/robotoslab-light-webfont.woff2') format('woff2'),
         url('../font/roboto-slab/robotoslab-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slab';
    src: url('../font/roboto-slab/robotoslab-thin-webfont.woff2') format('woff2'),
         url('../font/roboto-slab/robotoslab-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
